@charset "utf-8";

html {
    background-color: black;
    
}

/* Header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}


nav ul {
    display: inline-block;
    list-style-type: none; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Baloo;
}



p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.head {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(0, 0, 0),rgb(24, 23, 23));
}

.head .row {
    margin-top: 150px;
}


.hr-s1 {
    
    height: 1px;
    background-color: rgb(40, 40, 40);
    border: none;
}

/* Body */

body {
    color: white;
    
}

.center { 
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/* Footer */

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 0, 0), black);
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
    column-width: 200px;
    max-width: 1300px;
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
    column-gap: 25px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    height: 200px;

}
 
footer h1 {
    color: rgb(255, 241, 147);
    font-size: 1em;
    margin: 10px 0px;
}
 
footer h1:first-of-type {
    margin-top: 0px;
}
 
footer a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}
 
footer a:hover {
    text-decoration: underline;
}

.footer-s2 p {
    font-size: 8pt;

}